.about-company {

    padding-top: 120px;
    padding-bottom: 120px;

    .container {

        display: flex;
        position: relative;
        padding: 0px 70px;


        .about-company-image {

            >div {

                position: absolute;
                width: 350px;
                padding: 25px 25px;
                background-color: #BEEBFF;
                bottom: 40px;
                left: 25px;
                box-shadow: -3px 0px 7px 0px rgb(194, 194, 194);

                >h3 {
                    font-family: $font-dm-sans;
                    font-size: $font-size-22;

                    >span {

                        font-size: $font-size-16;
                        color: $color-red;
                    }
                }

                >p {
                    padding-top: 10px;
                    font-size: $font-size-16;
                }
            }
        }

        .about-company-text {

            padding-left: 120px;

            >h3 {
                font-size: $font-size-18;
                color: $color-red;
            }

            >h1 {
                padding-top: 20px;
                font-family: $font-dm-sans;
                font-size: $font-size-45;
                font-weight: $font-weight-bold;
            }

            >p {
                padding-top: 20px;
                color: $color-gray;
                font-size: $font-size-16;

            }

            .about-company-buttons {

                padding-top: 130px;

                .play-button {

                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid $color-dark;
                    background-color: $color-white;
                    margin-left: 30px;
                    margin-right: 10px;

                    >i {
                        font-size: $font-size-14;
                    }
                }

                >span {
                    font-size: $font-size-16;
                    font-weight: $font-weight-semiBold;
                }

            }
        }

    }
}