.footer-copyright {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: $color-theme-dark;

    .container { 

        display: flex;
        justify-content: space-between;
        align-items: center;

        .copyright {

            color: $color-gray;
            font-size: $font-size-16;
            font-weight: $font-weight-regular;
        }

        .copy-right-social-media {

            >a {

                margin: 0px 10px;

                >i {

                    color: $color-white;
                }
            }
        }

    }
}