// Buttons
.button-yellow {

    position: relative;
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
    background-color: $color-theme-yellow;

    >span {
        position: relative;
        font-size: $font-size-16;
        font-weight: $font-weight-semiBold;
        top: 4px;
        margin-right: 10px;
    }
}

.button-white {

    position: relative;
    border: none;
    border-radius: 25px;
    border: 1px solid $color-dark;
    padding: 10px 25px;
    background-color: $color-white;

    >span {
        position: relative;
        font-size: $font-size-16;
        font-weight: $font-weight-semiBold;
        top: 4px;
        margin-right: 10px;
    }
}

.button-dark {

    position: relative;
    border: none;
    border-radius: 25px;
    border: 1px solid $color-dark;
    padding: 10px 25px;
    background-color: $color-dark;

    >span {
        position: relative;
        font-size: $font-size-16;
        font-weight: $font-weight-semiBold;
        color: $color-white;
        top: 4px;
        margin-right: 10px;


    }

    >i {
        color: $color-white;
    }
}

.button-transparent {

    position: relative;
    border: none;
    border-radius: 25px;
    border: 1px solid $color-dark;
    padding: 10px 25px;
    background-color: transparent;

    >span {
        position: relative;
        font-size: $font-size-16;
        font-weight: $font-weight-semiBold;
        color: $color-dark;
        top: 4px;
        margin-right: 10px;


    }

    >i {
        color: $color-dark;
    }
}

.arrow-button {
    
    border: none;
    background-color: $color-dark;
    padding: 15px 20px;
    border-radius: 50px;

    >i {
        color: white;
    }
}

.carousel-dots {
    display: flex;
    justify-content: center;

    .carousel-dot {

        background-color: $color-dark;
        opacity: 25%;
        border-radius: 50%;
        padding: 5px;
        color: $color-dark;

        margin: 0px 5px;
    }

    .active {

        opacity: 100%;
    }
}

.yellow-dot {

    padding: 5px;
    border-radius: 50%;
    background-color: #F9D783;
}

.tag {
    text-align: center;
    padding: 10px 0px;
    width: 100px;
    background-color: #7070702a;
    border-radius: 25px;
    font-size: $font-size-14;
    font-weight: $font-weight-medium;
}

.contact-card {

    border: 1px solid #19191925;
    padding: 40px 100px 40px 50px;

    .contact-card-content {

        display: flex;

        .contact-card-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 30px;
            background-color: $color-dark;

            >i {
                color: white;
                font-size: $font-size-20;
            }
        }

        .contact-card-text {

            

            >h5 {

                font-size: $font-size-22;
                font-family: $font-dm-sans;
                font-weight: $font-weight-bold;
                margin-bottom: 20px;
            }



            >p {

                font-size: $font-size-18;
                font-weight: $font-weight-regular;
                margin: 0;
                
            }
        }
    }
}
